
<div ng-controller="JobController">
	<div class="container-fluid">
		<div style="padding:1px; background-color: #0c73cc; color: white;"><h2 align="center">Publish Job</h2></div>
	</div>
	<br><br>
	<div class="container py-5">
	   <div class="row">
	       	<div class="col-md-12">
	           <div class="row">
					<div class="col-md-3"></div>
	               	<div class="col-md-6 mx-auto">
	                   	<div class="card rounded-0" id="login-form">
	                       	<div class="card-body">
	                           	<form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
	                               	<div class="form-group">
	                                   	<label for="uname1">Designation</label>
	                                   	<input type="text" class="form-control form-control-lg rounded-0" name="uname" ng-model="job.designation" required>
	                               	</div>
	                               	<div class="form-group">
	                                   	<label>Job Desc</label>
	                                   	<input type="text" class="form-control form-control-lg rounded-0" name="password" ng-model="job.jobDesc" required>
	                               	</div>
	                               	<div class="form-group">
	                                   	<label for="uname1">Company Name</label>
	                                   	<input type="text" class="form-control form-control-lg rounded-0" name="cname" ng-model="job.companyName" required>
	                               	</div>
	                               	<div class="form-group">
	                                   	<label for="uname1">Req Skills</label>
	                                   	<input type="text" class="form-control form-control-lg rounded-0" name="uname" ng-model="job.skills" required>
	                               	</div>
	                               	<div class="form-group">
	                                   	<label for="uname1">CTC</label>
	                                   	<input type="text" class="form-control form-control-lg rounded-0" name="uname" ng-model="job.ctc" required>
	                               	</div>
	                               	<div class="form-group">
	                                   	<label for="uname1">Year of Exp</label>
	                                   	<input type="text" class="form-control form-control-lg rounded-0" name="uname" ng-model="job.experienceYear" required>
	                               	</div>
	                               	<div class="form-group">
	                                   	<label for="uname1">Last Date</label>
	                                   	<input type="text" class="form-control form-control-lg rounded-0" name="uname" ng-model="job.lastDateToApply" required>
	                               	</div>
	                               	<button type="submit" class="btn btn-success btn-lg float-right" ng-click="publishJob()">Register</button>
	                           	</form>
	                       	</div>
	                   	</div>
	            	</div>
	            	<div class="col-md-3"></div>
	        	</div>
			</div>
		</div>
	</div>
</div>